.app-container {
    max-width: 300px;
}
.search-field {
    width: 100%;
}
.result-content{
    margin-top: 20px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
.filter-line {
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: -1px;
}
